.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }

  .cta {
    display: flex;
    align-items: center;
    margin-right: .75rem;
  }

  .nav-container {
    padding: 0 1rem;
    height: 55px;
    max-width: $width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
  }

  .brand {
    a {
      display: flex;
      align-items: center;
      color: #333;
      margin-right: 0;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover,
      &:focus {
        color: black;
      }
    }

    .text {
      display: none;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin: 0;

    a {
      display: block;
      font-size: 1.05rem;
      font-weight: 500;
      padding: .75rem;
      margin: 0;
      color: rgba(0, 0, 0, 0.85);
      line-height: 1.2;
      text-align: center;
      width: 78px;      

      &.active {
        color: black;
        // border: 2px solid #111;
        border-radius: 5px;
        background-color: rgba(0,0,0,.05);
      }
    }
  }
}

.theme-switcher {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.switcher {
  margin-bottom: 12px;
  position: relative;
  display: inline-block;
  width: 47px;
  height: 26px;

  input{    
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider::before{
    transform: translateX(20px);
  }

  input:checked + .slider {
    // background-color: rgba(24, 23, 23, .2);
    // border: 1px solid wheat;
    box-shadow: 0 0 6px #fff;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;

    &::before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: #fff;
      width: 20px;
      height: 20px;
      transition: .4s;
    }
  }
}

.favicon {
  height: 40px;
  width: 40px;
  min-width: 23px;
  margin-right: .75rem;
  margin-bottom: 0;
  border-radius: 25%;
}

@include small-breakpoint {
  .nav {
    &.scroll {
      .nav-container {
        height: 60px;
      }

      .links a {
        
        &.active {
          color: black;
          // border: 2px solid #111;
          border-radius: 5px;
          background-color: rgba(0,0,0,.05);
        }

        &:active {
          color: #111;
        }
      }
    }

    .nav-container {
      height: $nav-height;
      padding: 0 2rem;
    }

    .brand {
      a {
        font-size: 1.3rem;
      }

      .text {
        display: block;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: unset;
      height: 100%;
      a {
        display: block;
        text-align: center;    
        width: 85px;
        font-size: 1.2rem;
        margin: 0 0rem;        

        &.active {
          color: black;
          // border: 2px solid #111;
          border-radius: 5px;
          background-color: rgba(0,0,0,.05);
        }
      }
    }    
  }

  .favicon {
    margin-right: 1rem;
  }
}